/* Body e Main */

body{
  font-family: "Crimson Text","Times New Roman", serif;  /* Por padrão a fonte deve ter uma opção default entre serif ou sans-serif */
  background-color: #F2FFFC;
  font-size: 120%;
  line-height: 1.5;
}
main{
  float: left;
  width: 85%;
  padding-bottom: 80px;
}

.subtitulo-texto{
  clear: both;
}

.titulo-principal{
  background-color: #851944;
  color: #FFF;
  text-align: center;
  padding: 25px;
  border-bottom: 10px solid #000;
  font-size: 60px;
  text-transform: uppercase;
}


/* Texto */
.container{
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  padding: 30px 0;
}

h1, h2{
  font-family: "Open Sans Condensed","Arial", sans-serif;
  font-size: 30px;
}

p{
  text-align: justify;
  margin: 20px 0px;

}
strong{
  font-weight: bold;
}
em{
  font-style: italic;

}
/* nav  */
.navegacao-site h1{
  margin-bottom: 25px;
  text-transform: uppercase;

}

.img-eu, .navegacao-site{
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  box-sizing: border-box;
}
.img-eu{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.navegacao-site{
  background-color: #3C1D3D;
  color: #F2FFFC;
  padding: 20px;
  float: right;
  clear: right;
  width: 15%;
  position: relative;
  top: 310px;
  text-align: center;
}
.navegacao-site a{
  color: inherit;
  font-family: "Open Sans Condensed","Arial", sans-serif;
  text-transform: lowercase;
}

.icones-redes-sociais li{
  display: inline-block;

}
.icones-redes-sociais a{
  width: 40px;
  height: 40px;
  display: block;
    /* Image replacement */
  text-indent: -99999px;
  /* font-size: 0; */
}
.github{
  background-image: url(../img/github.png);
}
.twitter{
  background-image: url(../img/twitter.png);
}
.linkedin{
  background-image: url(../img/linkedin.png);
}


/* footer  */
.rodape{
  background-color: #000;
  color: #F2FFFC;
  padding: 20px;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Desenhos */
div#gravata{
  border-left: 30px solid red;
  border-right: 30px solid red;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  width: 0px;
}
div#triangulo_ang_reto{
  border-bottom: 30px solid red;
  border-left: 30px solid red;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 0px;
}
div#pause{
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
    margin: 20px;
}

div#triangulo{
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
    margin: 20px;
}
