/* Body e Main */

body{
  font-family: "Crimson Text","Times New Roman", serif;  /* Por padrão a fonte deve ter uma opção default entre serif ou sans-serif */
  background-color: #F2FFFC;
  font-size: 120%;
  line-height: 1.5;
}

.citacao{
  background-color: #D9E5E3;
  padding: 20px;
  margin: 20px 40px;
  border: 10px solid #C2CCCA;
  width: 250px;
  box-sizing: border-box;  /* Faz com que o valor de 250px da largura seja total, ou seja, considera o padding e border */
}

.titulo-principal{
  background-color: #851944;
  color: #FFF;
  text-align: center;
  padding: 25px;
  border-bottom: 10px solid #000;
  font-size: 60px;
  text-transform: uppercase;
}

/* Texto */
.texto{
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  padding: 30px 0;
}

h1, h2{
  font-family: "Open Sans Condensed","Arial", sans-serif;
  font-size: 30px;
}

p{
  text-align: justify;
  margin: 20px 0px;

}
strong{
  font-weight: bold;
}
em{
  font-style: italic;

}
/* nav  */
.navegacao-site h1{
  margin-bottom: 25px;
}


.navegacao-site{
  background-color: #3C1D3D;
  color: #F2FFFC;
  padding: 20px;
}
.navegacao-site a{
  color: inherit;
  font-family: "Open Sans Condensed","Arial", sans-serif;
  text-transform: lowercase;
}
.icones-redes-sociais li{
  display: inline-block;

}
.icones-redes-sociais a{
  width: 40px;
  height: 40px;
  display: block;
    /* Image replacement */
  text-indent: -99999px;
  /* font-size: 0; */
}
.github{
  background-image: url(github.png);
}
.twitter{
  background-image: url(twitter.png);
}
.linkedin{
  background-image: url(linkedin.png);
}


/* footer  */
.rodape{
  background-color: #000;
  color: #F2FFFC;
  padding: 20px;
}

/* Desenhos */
div#gravata{
  border-left: 30px solid red;
  border-right: 30px solid red;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  width: 0px;
}
div#triangulo_ang_reto{
  border-bottom: 30px solid red;
  border-left: 30px solid red;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 0px;
}
div#pause{
    border-left: 10px solid red;
    border-right: 10px solid red;
    width: 5px;
    height: 30px;
    margin: 20px;
}

div#triangulo{
    border-bottom: 30px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
    margin: 20px;
}

/* blog */
.postagem{
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc
}

.leia-mais{
  font-size: 24px;
  margin: 16px;
  padding: 8px;
  text-align: center;
  display: block;
  background-color: #E6E7E8;
}
